<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4dMDwxjul1I65m2wOSXcIN7JIuzw1wLk</string>
	<key>GCM_SENDER_ID</key>
	<string>363285191898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dearDiary</string>
	<key>PROJECT_ID</key>
	<string>deardiary-4cfa5</string>
	<key>STORAGE_BUCKET</key>
	<string>deardiary-4cfa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363285191898:ios:41625e042b4f832ee499e3</string>
</dict>
</plist>